/*
 * Global page elements and rules
 */

body, html{
    font-family: Helvetica, Verdana;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    padding-bottom: 1px;
    background-color: #ECECEC;    
}

@font-face { 
    font-family: Manifesto; 
    src: url('MANIFESTO.ttf'); 
}

#menu, #menu .item{
    color: black;
    border-bottom-color: #ECECEC
}

.ui.secondary.pointing.menu .active{
    color: #00BEBE !important;
    border-color: #00BEBE !important;
}

.widthRule{
    width: 85% !important
}

.headerRule{
    color: #3399FF !important
}

.name{
    background-color: #00BEBE !important;
    color: white;
    border: none !important;
    box-shadow: none !important;
    height: 16% !important; 
}

/*
 * Home Page Elements
 */
#homeBody{
    background-color: #00BEBE; 
}
#nameBlock{
    font-family: Manifesto;
    width: 30%; 
    text-align: start; 
    height: 100%;
    margin-left: 15%;
    margin-right: 0% !important;
}

.homeButtons{
    font-size: 5rem !important;
    background-color: #00BEBE !important;
    border-width: 10px !important;
    border-color: white !important;
    box-shadow: 0 0 0 7px #f9fafb inset !important;
    margin-top: 15% !important;
    color: white !important;
}

.homeButtons > .icon{
    opacity: 1 !important;
}
/*
 * Project page elements
 */

.bannerContainer{
    width: 100% !important; 
    background-color: #404040 !important; 
    height: 300px !important;
    margin: 0 !important;
}

.icon.header.notHome{
    visibility: hidden;
    color: white; 
    padding-top: 50px; 
    font-size: 300%
}

/*
 * Blog page elements
 */

.ui.horizontal.fluid.tabular.menu{
    background-color: #F5F5F5;
    text-align: left
}

.ui.fluid.selection.dropdown .selected.item, .text{
    color: #3399FF;
}

@media only screen and (max-device-width: 480px) {
    .ui.horizontal.fluid.tabular.menu{
        font-size: .75rem
    }

}



