body, html{
    font-family: Helvetica, Verdana;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;  
}

.ui.secondary.pointing.menu{
    
}

.ui.secondary.pointing.menu .active{
    color: #8b9dc3 !important;
    border-color: #8b9dc3 !important
}

