/*
 * Global page elements and rules
 */

body, html{
    font-family: Helvetica, Verdana;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    padding-bottom: 1px;
    background-color: #ECECEC;    
}

@font-face { 
    font-family: Manifesto; 
    src: url('MANIFESTO.ttf'); 
}

#menu, #menu .item{
    color: #404040;
    border-bottom-color: #ECECEC
}

.ui.secondary.pointing.menu .active{
    color: #00BEBE !important;
    border-color: #00BEBE !important;
}

.widthRule{
    width: 85% !important;
    height: 100% !important;
}

.headerRule{
    color: #00BEBE !important
}

/*
 * Home Page Elements
 */
#homeBody{
    background-color: #00BEBE; 
}

#nameSegment{
    width: 80%; 
    background-color: #00BEBE;
    color: white;
    box-shadow: none;
    border: none
}

#nametag{
    font-family: Manifesto; 
    font-size: 100px; 
    margin-top: 12%;
    margin-bottom: 0;
    letter-spacing: 10px;
}

.homeButtons{
    font-size: 2rem !important;
    background-color: #00BEBE !important;
    border-width: 10px !important;
    border-color: white !important;
    box-shadow: 0 0 0 7px #f9fafb inset !important;
    color: white !important;
}

.homeButtons > .icon{
    opacity: 1 !important;
}

#wordFlip{
    font-size: 40px; 
    letter-spacing: 10px; 
    text-align: center
}
/*
 * About Me
 */

#aboutMeId{
    box-shadow: none; 
    border: none; 
    background-color: #ECECEC; 
    text-align: start; 
    font-size: 20px;
    padding-left: 20%;
    color: #404040
}

#aboutMeRow{
    width: 40% !important; 
}

#aboutMeRow2{
    width: 60% !important; 
    padding-top: 4% !important; 
    padding-left: 15% !important
}

/*
 * Project page elements
 */

#projectHeader{
    font-family: Manifesto; 
    font-size: 80px; 
    letter-spacing: 30px;
    background-color: #4D505B;
    padding: 5%;
    color: #00BEBE;
}

/*
 * Blog page elements
 */

.ui.horizontal.fluid.tabular.menu{
    background-color: #F5F5F5;
    text-align: left
}

.ui.fluid.selection.dropdown .selected.item, .text{
    color: #00BEBE;
}

#blogHeader{
    font-family: Manifesto; 
    font-size: 80px; 
    letter-spacing: 10px;
    background-color: #4D505B;
    padding: 5%;
    color: #00BEBE;
}

#greetings{
    font-family: Manifesto; 
    font-size: 50px; 
    margin-left: -10px
} 

@media only screen and (max-device-width: 768px) {
    .ui.secondary.pointing.menu .item{
        font-size: 0.825rem !important
    }

    #nametag{
        font-family: Manifesto; 
        font-size: 50px; 
        margin-top: 12%;
        margin-bottom: 0;
        letter-spacing: 10px;
    }

    #gridIndex{
        width: 75% !important;
        margin-left: -2rem;
    }

    .homeButtons{
        font-size: 1.5rem !important;
        background-color: #00BEBE !important;
        border-width: 5px !important;
        border-color: white !important;
        box-shadow: 0 0 0 3px #f9fafb inset !important;
        color: white !important;
    }

    #wordFlip{
        font-size: 40px; 
        letter-spacing: 5px; 
        text-align: center
    }

    #aboutMeId{
        padding-left: 5%
    }
    #aboutMeRow{
        width: 100% !important; 
    }

    #aboutMeRow2{
        width: 100% !important; 
        padding-top: 4% !important; 
        padding-left: 0% !important
    }

    #projectHeader{
        font-family: Manifesto; 
        font-size: 50px; 
        letter-spacing: 30px
    }

    .widthRule{
        width: 90% !important
    }

    #blogHeader{
        font-family: Manifesto; 
        font-size: 50px; 
        letter-spacing: 10px
    }
}   





