/*
 * Global page elements and rules
 */

body, html{
    font-family: Helvetica, Verdana;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    padding-bottom: 1px;
    background-color: #ECECEC;    
}

@font-face { 
    font-family: Manifesto; 
    src: url('MANIFESTO.ttf'); 
}

#menu, #menu .item{
    color: #404040;
    border-bottom-color: #ECECEC
}

.ui.secondary.pointing.menu .active{
    color: #00BEBE !important;
    border-color: #00BEBE !important;
}

.widthRule{
    width: 85% !important;
    height: 100% !important;
}

.headerRule{
    color: #00BEBE !important
}

/*
 * Home Page Elements
 */
#homeBody{
    background-color: #00BEBE; 
}

#nameSegment{
    width: 80%; 
    background-color: #00BEBE;
    color: white;
    box-shadow: none;
    border: none
}

#nametag{
    font-family: Manifesto; 
    font-size: 100px; 
    margin-top: 10%;
    margin-bottom: 0;
    letter-spacing: 10px;
}

.homeButtons{
    font-size: 2rem !important;
    background-color: #00BEBE !important;
    border-width: 10px !important;
    border-color: white !important;
    box-shadow: 0 0 0 7px #f9fafb inset !important;
    color: white !important;
}

.homeButtons > .icon{
    opacity: 1 !important;
}

#wordFlip{
    font-size: 40px; 
    letter-spacing: 10px; 
    text-align: center
}
/*
 * About Me
 */

#aboutMeId{
    box-shadow: none; 
    border: none; 
    background-color: #ECECEC; 
    text-align: start; 
    font-size: 20px;
    padding-left: 10%;
    color: #404040
}

/*
 * Project page elements
 */

.bannerContainer{
    width: 100% !important; 
    background-color: #404040 !important; 
    height: 300px !important;
    margin: 0 !important;
}

.icon.header.notHome{
    visibility: hidden;
    color: white; 
    padding-top: 50px; 
    font-size: 300%
}

/*
 * Blog page elements
 */

.ui.horizontal.fluid.tabular.menu{
    background-color: #F5F5F5;
    text-align: left
}

.ui.fluid.selection.dropdown .selected.item, .text{
    color: #00BEBE;
}

@media only screen and (max-device-width: 480px) {
    .ui.horizontal.fluid.tabular.menu{
        font-size: .75rem
    }

}



