<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header %>
</head>
<body>
	<% include ../partials/menu %>
	<div class="ui grid">
		<div class="row">
			<div class="column">
				<div class="ui segment" id="aboutMeId">
					<h1 style="font-family: Manifesto; font-size: 70px; margin-left: -10px">Greetings,</h1>
		
			        <p>
			            My name is Steven and I am currently in my fourth year at the University of California San Diego. I am
			            studying Computer Engineering which is a culmination of computer hardware and software, but recently, my focus
			            is more on the software side. My favorite languages to program in are Java and the C's(C, C#, C++), but have
			            also dabbled in Python. Lately, I have been doing a lot of web development, and I absolutely love it. I hope to find myself in that field when I graduate or sometime in the near future. In addition to web developing, I have also been working on some Android projects on the side. Any new, completed projects that I have, I will post on this site. If you have any questions about my projects or want to get in touch with me, feel free to email me at stevenlim890@gmail.com or click on one of the icons on the home page.
			            <br>
			            <br>
			            Cheers,
			            <br>
			            Steven
			        </p>     
			    </div>
			</div>	
		</div>	
	</div>	
</body>

</html>

<script type="text/javascript">
	
</script>