<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header %>
</head>
<body>
	<% include ../partials/menu %>
	<div class="ui grid">
		<div class="row" id="aboutMeRow">
			<div class="column" >
				<div class="ui segment" id="aboutMeId">
					<h1 id="greetings">Greetings,</h1>
		
			        <p>
			            My name is Steven (or you can call me Steve) and I am currently in my fourth year at the University of California San Diego. I am
			            studying Computer Engineering which is a culmination of computer hardware and software, but recently, my focus
			            is more on the software side. My favorite languages to program in are Java and the C's(C, C#, C++), but have
			            also dabbled in Python. I am also fluent in HTML, Javascript, and CSS. For the most part of my programming career, I have mainly been doing front end development, but I hope to eventually become just as good in back end development. Lately, I have been taking database courses and learning SQL in order to get some experience in the backend. My end goal is to become a full stack developer because I am the type of person that likes to be a part of the whole process in a project. In addition to my endeavors, I have also been working on some Android projects on the side. Any new, completed projects that I have, I will post on this site. If you have any questions about my projects or want to get in touch with me, feel free to email me at stevenlim890@gmail.com or click on one of the icons on the home page.
			            <br>
			            <br>
			            Cheers,
			            <br>
			            Steven
			        </p>     
			    </div>
			</div>
		</div>
		<div class="row" id="aboutMeRow2">
			<div class="column" >
				<img class="image" src="steven.jpg"></img>
			</div>	
		</div>	
	</div>	
</body>
</html>

<script type="text/javascript">
	$('.image').transition({
        animation: 'fly up in',
        duration: '5s'
	 });
</script>