<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header %>
</head>
	
<body>
	<% include ../partials/menu %>

	<div class="ui container bannerContainer">
		<center>
			<h1 class="ui icon header notHome">
				<i class="comments icon"></i>
				<span>Blog Page</span>
			</h1>
		</center>
	</div>

	<br>
	<br>

	<center>
		<div class="ui card widthRule">
	  		<div class="content" style="text-align: start">
	    		<div class="header">
	    			<h2>Hello, first post</h2>
	    		</div>
				<div class="meta">
					August 19th, 2015
				</div>
	    		<div class="description">
	    			<p>Welcome to my site! I will be posting more content shortly. Keep checking for updates.</p>
	    		</div>
	    	</div>
	    	<div class="extra content">
	    		Steven
	    	</div>	
	    </div>
    </center>			

    <br>
    <br>
</body>

</html>

<script type="text/javascript">
	$(document).ready(function(){
		document.getElementById("menu").style.marginBottom = "0px";
	});	
</script>			