<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header %>
</head>

<body id="homeBody">
    <% include ../partials/menu %>
    <center>
        <div class = "ui compact segment" id="nameSegment">
            <p id="nametag">Steven Lim</p>
            <p style="font-size: 20px; letter-spacing: 10px; text-align: center; display: inline-block">I am a </p>
            <p id="wordFlip"> Student</p>
        </div>
        <br>
        <div class="ui grid" style="width: 50%" id="gridIndex">
            <div class="row">
                <div class="column" style="width: 25%">
                    <a class="ui circular facebook icon button homeButtons" data-content="Facebook" href="https://www.facebook.com/stevenlim89">
                        <i class="facebook icon"></i>
                    </a>
                </div>
                <div class="column" style="width: 25%">
                    <a class="ui circular github icon button homeButtons" href="https://github.com/stevenlim89" data-content="Github">
                        <i class="github icon"></i>
                    </a>
                </div>         
                <div class="column" style="width: 25%">
                    <a class="ui circular linkedin icon button homeButtons" href="https://www.linkedin.com/pub/steven-lim/89/452/890" data-content="LinkedIn">
                        <i class="linkedin icon"></i>
                    </a>
                </div>
                <div class="column" style="width: 25%">
                    <button class="ui circular google icon button homeButtons" data-content="stevenlim890@gmail.com">
                        <i class="google icon"></i>
                    </button>
                </div>          
            </div>    
        </div>
    </center>              
</body>
</html>

<script type="text/javascript">
    $('#menu, #menu .item').css("color", "white");
    $('#menu, #menu .item').css("border-bottom-color", "#00BEBE");
    $('.ui.secondary.pointing.menu .active').attr("style", "border-color: white !important; color: white !important");

    $('#gridIndex').transition({
        animation: 'fly right in',
        duration: '5s'
    });

    $('.homeButtons')
          .popup({
              hoverable: true
    });

    var flip = document.getElementById('wordFlip');
    var counter = 0;
    var textArray = ["Developer", "Techy", "Entrepeneur", "Nerd", "Problem Solver", "Student"];

    setInterval(function () { changeWord() }, 5000);

    function changeWord(){
        $('#wordFlip').transition({
            animation: 'fade in',
            duration: '2s',
        });

        flip.innerHTML = textArray[counter];
        counter++;
        
        if(counter > textArray.length - 1){
            counter = 0;
        }
    }

    
</script>
