<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header %>
</head>

<body>
    <% include ../partials/menu %>
    
    <center>
        <div class="ui centered grid" id="imageList">
            <div class="fourteen wide column" style="text-align: center; padding: 0">
                <h1 class="ui icon header" id="homeIconHeader">
                    <i class="computer icon"></i>
                    <div class="content">
                        <span>Welcome to Steven's Site</span>
                    </div    
                </h1>    
            </div>

            <img src="bali1.JPG" alt="" style="display: block; padding: 0; width: 100%; max-height: 300px;" />
            <img src="bali2.JPG" alt="" class="noDisplay" style="display:none; visibility: hidden; padding: 0; width:100%; max-height: 300px;"/>
        </div>    
                
        <br />
        <br />

        <div class="ui container widthRule">
            <div class="ui items" style="width: 90%">
                <div class="item">
                    <img class="ui bordered image" src="rsz_steven.jpg" style="padding: 10px; border: 1px solid rgba(34,36,38,.15); border-radius: .28571429rem">
                    <div class="middle aligned content">
                        <div style="display:inline-block; float: right">
                            <div class="description">
                                <div class="ui raised segment">
                                    <div class="header">
                                        <h1><center>Steven Lim</center></h1>
                                    </div>
                                    <div style="text-align: start">
                                        <strong>School:</strong> University of California San Diego<br />
                                        <strong>Major:</strong> Computer Engineering<br />
                                        <strong>Graduation Date(Expected):</strong> June 2016<br />
                                        <strong>Current Job:</strong> Technology Intern at CoreLogic
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="widthRule">
            <div class="ui horizontal divider " style="color: #3399FF">
                
                <h1><i class="edit icon"></i>About Me</h1>
            </div>

            <br>
            <br>

            <div class="ui raised segment" style="width: 90%">
                <p>
                    I am currently a fourth year student attending the University of California San Diego.

                </p>    
            </div>
        </div>    

        <br>
        <br>

        <div class="widthRule">
            <div class="ui horizontal divider">
                <div class="content" style="color: #3399FF">
                    <h1><i class="phone icon"></i>Contact Info</h1>
                </div>
            </div>
            <br />
            <br />
            <div class="ui four column grid container" style="width: 90%">
                <div class="row">
                    <div class="column">
                        <a class="ui large circular facebook icon button" data-content="Facebook" href="https://www.facebook.com/stevenlim89">
                            <i class="facebook icon"></i>
                        </a>
                    </div>
                    <div class="column">
                        <a class="ui large circular linkedin icon button" href="https://www.linkedin.com/pub/steven-lim/89/452/890" data-content="LinkedIn">
                            <i class="linkedin link icon"></i>
                        </a>
                    </div>
                    <div class="column">
                        <a class="ui large circular icon button" style="background-color: black" href="https://github.com/stevenlim89" data-content="Github">
                            <i class="github alternate icon" style="color: white"></i>
                        </a>
                    </div>
                    <div class="column">
                        <button class="ui large circular google icon button" style="background-color: #F90101" data-content="stevenlim890@gmail.com">
                            <i class="google icon" style="color: white"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <p><small><i class="copyright icon"></i>2015 - Built with Semantic UI</small></p>
    </center>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function(){

        $('.ui.large.circular')
          .popup({
              hoverable: true
        });

        var imageList = document.getElementById('imageList');
        var pictures = imageList.getElementsByTagName('img');
        var next = pictures[0];

        setInterval(function () { carousel() }, 6000);

        function carousel() {
            for (var i = 0; i < pictures.length; i++) {
                if (!$(pictures[i]).hasClass("noDisplay")) {
                    
                    if (i == pictures.length - 1) {
                        next = pictures[0];
                        next.style.visibility = "hidden";
                    } else {
                        next = pictures[i].nextElementSibling;
                    }
                    
                    pictures[i].className = 'noDisplay';
                    pictures[i].style.display = 'none';

                    $(next).removeClass('noDisplay');
                    $(next).transition({
                        animation: 'fade',
                        duration: '1s',
                        displayType: 'hidden'
                    });
                    break;
                }
            }
        }
    });
</script>
