<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home Page</title>

    <link rel="stylesheet" type="text/css" href="semantic/out/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="semantic/out/semantic.min.js"></script>
</head>

<body>
    <div class="ui secondary pointing menu">
        <a class="active item">
            <i class="home icon"></i>Home
        </a>

        <a class="item">
            <i class="folder icon"></i>Projects
        </a>
        <a class="item">
            <i class="comments icon"></i>Blog
        </a>
    </div>


    
    <center>
        <div style="width: 100%!important">
            <div class="image" style="position: relative" id="imageList">
                <div class="ui three column grid">
                    <div class="row" style="position: absolute; z-index: 1000">
                        <div class="column"></div>
                        <div class="column">
                            <h3 class="ui icon header" style="color: white">
                                <i class="small computer icon"></i>
                                <div class="content">
                                    Steven's Site
                                </div>
                            </h3>        
                        </div>
                        <div class="column"></div>
                    </div>
                </div>
                
                <img src="bali1.JPG" alt="" style="width: 100%; max-height: 200px"/>
                <img src="bali2.JPG" alt="" class="noDisplay" style="display:none; width:100%; max-height: 200px;" />
            </div>
        </div>

        <br />
        <br />

        <div class="ui container" style="width: 90%">
            <div class="ui items">
                <div class="item">
                        <img class="ui bordered image" src="rsz_steven.jpg" style="padding: 10px; border: 1px solid rgba(34,36,38,.15); border-radius: .28571429rem">
                    <div class="middle aligned content">
                        <div style="display:inline-block; float: right">
                            <div class="description">
                                <div class="ui raised segment">
                                    <div class="header">
                                        <h1><center>Steven Lim</center></h1>
                                    </div>
                                    <div style="text-align: start">
                                        <strong>School:</strong> University of California San Diego<br />
                                        <strong>Major:</strong> Computer Engineering<br />
                                        <strong>Graduation Date(Expected):</strong> June 2016<br />
                                        <strong>Current Job:</strong> Technology Intern at CoreLogic
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="ui horizontal divider" style="width: 90%; color: #3399FF">
            
            <h1><i class="edit icon"></i>About Me</h1>
        </div>

        <br>
        <br>

        <div class="ui raised segment" style="width: 90%">
            <p>
                I am currently a fourth year student attending the University of California San Diego. 
            </p>    
        </div>

        <br>
        <br>

        <div class="ui horizontal divider" style="width: 90%">
            <div class="content" style="color: #3399FF">
                <h1><i class="phone icon"></i>Contact Info</h1>
            </div>
        </div>
        <br />
        <br />
        <div class="ui four column grid container">
            <div class="row">
                <div class="column">
                    <a class="ui large circular facebook icon button" data-content="Facebook" href="https://www.facebook.com/stevenlim89">
                        <i class="facebook icon"></i>
                    </a>
                </div>
                <div class="column">
                    <a class="ui large circular linkedin icon button" href="https://www.linkedin.com/pub/steven-lim/89/452/890" data-content="LinkedIn">
                        <i class="linkedin link icon"></i>
                    </a>
                </div>
                <div class="column">
                    <a class="ui large circular icon button" style="background-color: black" href="https://github.com/stevenlim89" data-content="Github">
                        <i class="github alternate icon" style="color: white"></i>
                    </a>
                </div>
                <div class="column">
                    <button class="ui large circular google icon button" style="background-color: #F90101" data-content="stevenlim890@gmail.com">
                        <i class="google icon" style="color: white"></i>
                    </button>
                </div>
            </div>
        </div>

        <br />
        <br />
        <p><small><i class="copyright icon"></i>2015 - Built with Semantic UI</small></p>
    </center>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function(){
        //$('#iconHead').transition({
          //  animation: 'fade left',
           // duration: 1000,
           // interval: 200
        //});

        $('.ui.large.circular')
          .popup({
              hoverable: true
          });

        // Need to extract to partial
        var menuItem = $('.ui.secondary.pointing.menu .item');

        handler = {
            activate: function(){
                if(!$(this).hasClass('active')){
                    $(this).addClass('active').closest('.ui.secondary.pointing.menu').find('.item').not($(this)).removeClass('active');
                }
            }
        }

        menuItem.on('click', handler.activate);

        // end of extraction to partial

        setInterval(function () { carousel() }, 7000);

        function carousel() {
            var imageList = document.getElementById('imageList');
            var pictures = imageList.getElementsByTagName('img');
        
            var next = pictures[0];

            for (var i = 0; i < pictures.length; i++) {
                if (!$(pictures[i]).hasClass("noDisplay")) {
                    
                    if (i == pictures.length - 1) {
                        next = pictures[0];
                    } else {
                        next = pictures[i].nextElementSibling;
                    }
                    
                    $(next).removeClass('noDisplay');
                    $(next).transition({
                        animation: 'fade',
                        duration: '2s',
                        hidden: 'hidden',
                        displayType: 'block'
                    });
                    
                    pictures[i].className = 'noDisplay';
                    //$(pictures[i]).addClass('noDisplay');
                    pictures[i].style.display = 'none';
                    break;
                }
            }
        }
    });
</script>
