<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home Page</title>

    <link rel="stylesheet" type="text/css" href="semantic/out/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="semantic/out/semantic.min.js"></script>
</head>

<body>
    <div class="ui secondary pointing menu">
        <a class="active item">
            <i class="home icon"></i>Home
        </a>

        <a class="item">
            <i class="folder icon"></i>Projects
        </a>
        <a class="item">
            <i class="comments icon"></i>Blog
        </a>
    </div>
    <center>
        <div class="wrapper" style="width: 100% !important"> 
            <div id="carousel" style="background-image: url(rsz_sam.jpg)">
                <br>
                <h1 class="ui icon header" id="iconHead" style="visibility: hidden; color: white" >
                    <i class="computer icon"></i>
                    <div class="content">
                        <h1 style="color: white">Welcome to Steven's Site</h1>
                    </div>
                </h1>
            </div>
        </div>

        <br />
        <br />

        <div class="ui container" style="width: 75%">
            <center>
                <div class="ui items">
                    <div class="item">
                        <div class="image unstackable">
                            <img src="rsz_steven.jpg">
                        </div>
                        <div class="content">
                            <div style="display:inline-block; float: right">
                                <div class="header">
                                    <h1>Steven Lim</h1>
                                </div>
         
                                <div class="description">
                                    <div style="text-align: start; width: 300px">
                                        <strong>School:</strong> University of California San Diego<br />
                                        <strong>Major:</strong> Computer Engineering<br />
                                        <strong>Graduation Date(Expected):</strong> June 2016<br />
                                        <strong>Current Job:</strong> Technology Intern at CoreLogic
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </center>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function(){
        $('#iconHead').transition({
            animation: 'fade left',
            duration: 1000,
            interval: 200
        });

        var menuItem = $('.ui.secondary.pointing.menu .item');

        handler = {
            activate: function(){
                if(!$(this).hasClass('active')){
                    $(this).addClass('active').closest('.ui.secondary.pointing.menu').find('.item').not($(this)).removeClass('active');
                }
            }
        }

        menuItem.on('click', handler.activate);

        setInterval(carousel(), '10000');

        function carousel(){
            $()
            /*
            $('#carousel .called').transition({
                animation: 'fade',
                duration: 1000,
                interval: 100
            });

            $('#carousel .called').removeClass('called').closest('#carousel').find('.not').not('#carousel .called').addClass('called');

            $('#carousel .called').transition({
                animation: 'fade',
                duration: 1000,
                interval: 100
            });*/
        }
    });
</script>
