<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header %>
</head>
	
<body>
	<% include ../partials/menu %>

	<div class="ui container" style="width: 100%; background-color: #3399FF; height: 300px">
		<center>
			<h1 class="ui icon header" style="color: white">
				<i class="rocket icon"></i>
				<span>Projects Page</span>
			</h1>
		</center>
	</div>
</body>

</html>